@mixin create-columns($col) {
  flex: 0 0 auto;
  width: calc((100%/var(--bwc-grid-columns)) * $col);
}

bwc-col {
  --bwc-grid-columns: 12;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);

  &[col] {
    flex: 1 0 0%;
  }
  @for $i from 1 through $grid-columns {
    &[col="#{$i}"] {
      @include create-columns($i)
    }
  }
  @each $mq, $size in $media-queries {
    @media (min-width: $size) {
      @for $i from 1 through $grid-columns {
        &[col-#{$mq}="#{$i}"] {
          @include create-columns($i)
        }
      }
    }
  }

  // auto
  &[col="auto"] {
    flex: 0 0 auto;
    width: auto;
  }
  @each $mq, $size in $media-queries {
    @media (min-width: $size) {
      @for $i from 1 through $grid-columns {
        &[col-#{$mq}="auto"] {
          flex: 0 0 auto;
          width: auto;
        }
      }
    }
  }

  // Order
  &[order="first"] {
    order: -1 !important;
  }
  @for $i from 0 through 5 {
    &[order="#{$i}"] {
      order: $i !important;
    }
  }
  &[order="last"] {
    order: 6 !important;
  }


  &[align="start"] {
    align-self: start !important;
  }
  @each $mq, $size in $media-queries {
    @media (min-width: $size) {
      &[align-#{$mq}="start"] {
        align-self: start !important;
      }
    }
  }
  &[align="end"] {
    align-self: end !important;
  }
  @each $mq, $size in $media-queries {
    @media (min-width: $size) {
      &[align-#{$mq}="end"] {
        align-self: end !important;
      }
    }
  }
  &[align="center"] {
    align-self: center !important;
  }
  @each $mq, $size in $media-queries {
    @media (min-width: $size) {
      &[align-#{$mq}="center"] {
        align-self: center !important;
      }
    }
  }
  &[align="stretch"] {
    align-self: stretch !important;
  }
  @each $mq, $size in $media-queries {
    @media (min-width: $size) {
      &[align-#{$mq}="stretch"] {
        align-self: stretch !important;
      }
    }
  }
}

