:host {
  display: block;
}
a {
  color: var(--link-color);
}
.section__title {
  margin: 0 0 var(--gap-sm);
  font-size: 2rem;
  font-weight: 500;
}
.section__info {
  color: #555;
  font-size: 1.4rem;
}
.section__info > a::after {
  content: " ↗️";
}

.section__example {
  padding: var(--gap-sm) var(--gap-sm) var(--gap);
  border: 1px solid rgba(var(--violet-rgb), .2);
  border-bottom: none;
  border-radius: .6rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgba(var(--violet-rgb), 0.02);
}
.section__example-title {
  margin: 0 0 var(--gap-sm);
  color: #555;
  font-weight: 300;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: monospace;
}
.section__example-content {
  margin: 0 var(--gap-sm);
}

.section > * + * {
  margin-top: var(--gap-sm);
}
