:root {}

:host {
  display: block;
}
.section__title {
  margin: 0 0 var(--gap-sm);
  font-size: 2rem;
  font-weight: 500;
}
.section__link {
  display: inline-block;
  color: rgb(var(--bd-violet-rgb));
  font-size: 1.4rem;
}
.section__link::after {
  content: " ↗️";
}

.section__code {
  margin: 0;
  padding: var(--gap-sm);
  border: 1px solid rgba(var(--bd-violet-rgb), .2);
  background-color: #f8f9fa;
  border-radius: .6rem;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: #222;
  font-size: 1.4rem;
  line-height: 1.5;
}
.section__example {
  padding: var(--gap-sm) var(--gap-sm) var(--gap);
  border: 1px solid rgba(var(--bd-violet-rgb), .2);
  border-bottom: none;
  border-radius: .6rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgba(var(--bd-violet-rgb), 0.02);
}
.section__code-title,
.section__example-title {
  margin: 0 0 var(--gap-sm);
  color: #555;
  font-weight: 300;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: monospace;
}
.section__example-content {
  margin: 0 var(--gap-sm);
}

.section > * + * {
  margin-top: var(--gap-sm);
}
