:root {
  /* BGWC */
  --bwc-grid-columns: 12;

  --bwc-gutter-xs: 0;
  --bwc-gutter-sm: 0.25rem;
  --bwc-gutter-md: 0.5rem;
  --bwc-gutter-lg: 1rem;
  --bwc-gutter-xl: 1.5rem;
  --bwc-gutter-xxl: 3rem;

  --bwc-breakpoint-xs: 0;
  --bwc-breakpoint-sm: 576px;
  --bwc-breakpoint-md: 768px;
  --bwc-breakpoint-lg: 992px;
  --bwc-breakpoint-xl: 1200px;
  --bwc-breakpoint-xxl: 1400px;
}
